INFURA_KEY=
PRIVATE_KEY=
ORG_SECRET_KEY = 
ORG_DID = 

NODE_A_URL = 
NODE_A_DID = 

NODE_B_URL = 
NODE_B_DID = 

NODE_C_URL = 
NODE_C_DID = 
CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
OPENAI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=